

* {
    font-family: roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 50vh 30vh;
}


.home {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    height: 50vh;
    justify-content: center;
}


.home__title {
    color: #D06077;
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
}

.home__subtitle {
    color: #000000;
    font-size: 1rem;
    font-weight: 200;
}

.home__contact-link {
    background-color: #FFCA41;
     color: #ffffff;
     padding: 0.4rem 1.2rem;
     border: none;
     border-radius: 1.2rem;
     font-size: 1.4rem;
     font-weight: 600;
}

.home__container-img {
    background-color: #FF8EA8;
    border-radius: 100% 0 100% 100%;
}