

* {
    font-family: roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 50vh 30vh;
}

.capitalize {
    text-transform: capitalize;
}

.header {
    grid-area: header;
    width: 100%;
    height: 20vh;
    background-color: #FF7F99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.header__logo--yellow {
    color: #FFCA41;
}

.header__nav {
    width: 100%;
}

.header__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ffffff;
    font-weight: 300;
}

.header__item {
    width: 8rem;
    text-align: center;
}

.header__item--contact {
    background-color: rgba(255, 202, 65, 0.2);
    border-radius: 0.4rem;
    border: #FFCA41 0.1rem solid;
}

.footer {
    grid-area: footer;
    background-color: #FF7F99;
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0.4rem;
    gap: 0.4rem;
    place-items: center;
}

.consultant-card {
    width: 100%;
    height: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.consultant-card__picture {
    height: 7rem;
}

.consultant-card__info {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.consultant-card__name {
    font-size: 0.8rem;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
}

.consultant-card__speciality {
    font-size: 0.6rem;
    text-align: center;
    font-weight: 200;
}


.consultant-card__link-img {
    height: 1.2rem;
}


.home {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    height: 50vh;
    justify-content: center;
}


.home__title {
    color: #D06077;
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
}

.home__subtitle {
    color: #000000;
    font-size: 1rem;
    font-weight: 200;
}

.home__contact-link {
    background-color: #FFCA41;
     color: #ffffff;
     padding: 0.4rem 1.2rem;
     border: none;
     border-radius: 1.2rem;
     font-size: 1.4rem;
     font-weight: 600;
}

.home__container-img {
    background-color: #FF8EA8;
    border-radius: 100% 0 100% 100%;
}